.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.border {
  border: 3px solid black;
  margin: 20px;
  padding: 20px;
position: relative;
z-index: 9999;
}

.border .border {
  border: 3px solid rgb(30, 34, 11);
  margin: 50px;
  padding: 40px;
}

.border .border .border {
  border: 3px solid navy;
  margin: 20px;
  padding: 20px;
}

.border .border .border .border {
  border: 3px solid maroon;
  margin: 20px;
  padding: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home_div{

height: 200px;
}
.logo {
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
width: 400px;
height: auto;
position: relative;
z-index: 1;
}

.link {
display: inline-block;
color: rgb(31, 14, 14);
text-transform: uppercase;
font-size: 20px;
margin: 10px;
list-style: none;
text-decoration: none;
font-family: 'Skranji', cursive;
position: relative;
}
.link:hover {
color: rgb(192, 132, 19);}


Li {
position: relative;
}
nav a::before {
content: '';
display: block;
height: 5px;
width: 100%;
background-color: #444;
position: absolute;
top: 0;
width: 0%;

transition: all ease-in-out 250ms;
}
nav a:hover::before {
width: 100%;
}
h1 {
font-family: 'Skranji', cursive; ;}

.button {
text-decoration: none;

border: 3px solid orange;
margin: 20px;
cursor: pointer;

padding: 10px;
border-radius: 8px;
font-family: 'Skranji', cursive;
font-size: 20px;
color: rgb(24, 20, 15);

transition: 0.4s;

}

.button:hover {
color: rgb(27, 28, 94);
background-color: rgb(221, 189, 84);}

.ranches{
display: center;
font-family: 'Skranji', cursive;
}
.title {
font-family: 'Skranji', cursive;
font-size: 30px;
}
input {
font-size: 30px;
}
.box {
font-size: 20px;
font-family:Arial, Helvetica, sans-serif;
border-radius: 10px;
box-shadow: rgba(148, 74, 4, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
background-color: rgb(230, 227, 225);
padding: 8px;
margin: 50px;

}
